<appSettings>
  <!-- Service Bus specific app setings for messaging connections -->
  <add key="PreserveLoginUrl" value="true" />
  
  <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=elementool;AccountKey=Tfhj8g0oqjfLhckOoEialZ8UP7a9n5NQaE1FAduWT87emXa78vYWtgC9REf/LocgsNBpUScLWY2qHSyEnG7+oQ==" />
  <!-- Use these settings for local development. After publishing to 
    Mobile Services, these settings will be overridden by the values specified
    in the portal. -->
  <!-- When using this setting, be sure to add matching Notification Hubs connection
    string in the connectionStrings section with the name "MS_NotificationHubConnectionString". -->
  <add key="MS_NotificationHubName" value="Overridden by portal settings" />
  <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://[your namespace].servicebus.windows.net;SharedSecretIssuer=owner;SharedSecretValue=[your secret]" />
</appSettings>