<?xml version="1.0"?>
<configuration>
  <add key="EndPointUri" value="https://overmachine.documents.azure.com:443/" />
  <add key="PrimaryKey" value="fcbs7BSu3VFYTMqTm9PS7KPfkqZniaY9NCRZIrWlP8T99GWC4YwBh6uPMMTEmplJJqqJjdpv1oodSx42LvKEtg==" />
  <add key="DatabaseName" value="Elementool" />
  <add key="sentryDSN" value="https://b35c3943705d454188b1771398e34886:886f1ab4f9aa456fb4ebd10c358ff289@sentry.io/158236"/>
</configuration>
